body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #175acf;
}

h1
{
  color: #00399c;
}

h2
{
  color: #175acf;
}

h3
{
  color: #00399c;
  font-size: large;
}

.jumbotron{
  background-color: #fffdf5;
}


.navbar-brand	
{
  font-weight: bold;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  vertical-align:center;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-default {
  background-color: #175acf;
  border-color: #175acf;
}
.navbar-default .navbar-brand {
  color: #fffdf5;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #fffdf5;
}
.navbar-default .navbar-nav > li > a {
  color: #fffdf5;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #175acf;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #175acf;
}
.navbar-default .navbar-toggle {
  border-color: #175acf;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #175acf;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fffdf5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fffdf5;
}
.navbar-default .navbar-link {
  color: #fffdf5;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fffdf5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #175acf;
  }
}
